body{
    background-color: rgb(66, 66, 66);
}
#body_id{
    background-color: rgb(66, 66, 66);    
}
#main_label{
    background-color:  rgb(66, 66, 66);
    color:white;
    font-family:arial;
    font-size:30px;
    padding-left: 5px;
}
#subheading{
    color:white;
    font-family:arial;
    font-size:20px;
    padding-left: 5px;
}
#bio{
    color:white;
    font-family:arial;
    margin:10px;
}
#links{
    color: white;

}

#Main_Label{
    font-size: 40px;
    color: white;
    border-color: white;
    border-width: 2px;
}
#list1{
    font-family:arial;
    color: white;
    border-style:solid;
    border-color:white;
    background-color: rgb(71, 71, 71);
    border-width:2px;
    font-style: bold;
    font-size: 14px;
    list-style-type:circle;
    list-style-position: inside;
    position:inside;
    top:0;
    width:265px;
    padding-left: 5px;
}

.Main_Nav_Button{
    height: 50px;
    border-width: 4px;
    border-color: black;
}
#message_input{
    row-gap: 200px;
    min-width: auto;
    padding-left: 5px;
}

#contact_div{
    offset-distance: 5px;
}

#main_form{
    padding-left: 5px;
}

.Main_Nav_Button:active{
    background-color: black;
    color: white;
}

#list1:hover{
    background-color: rgb(46, 45, 45);
}
#link1{
    color: white;
    text-decoration: none;
}
#link1:hover{
    color: rgb(50, 134, 243);
    text-decoration: underline;
}
#link1:active{
    color:white;
}
#link2{
    color: white;
    text-decoration: none;
}
#link2:active{
    color:white;
}
#link2:hover{
    color: rgb(50, 134, 243);
    text-decoration:underline;

}
#links_label{
    color: white;
    font-weight: bold;
}
#feature1{
    font-family:arial;
    font-weight: bold;
    color:white;
    padding:7px;
}
#feature2{
    font-family:arial;
    font-weight: bold;
    color:white;
    padding:7px;
}
#Main_Section{
    color:white;
}